<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zu.collect.dao.BjknMapper">
  <resultMap id="BaseResultMap" type="com.zu.collect.model.Bjkn">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="qishu" jdbcType="INTEGER" property="qishu" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="datetime" jdbcType="TIMESTAMP" property="datetime" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="prev_text" jdbcType="VARCHAR" property="prev_text" />
    <result column="ball_1" jdbcType="INTEGER" property="ball_1" />
    <result column="ball_2" jdbcType="INTEGER" property="ball_2" />
    <result column="ball_3" jdbcType="INTEGER" property="ball_3" />
    <result column="ball_4" jdbcType="INTEGER" property="ball_4" />
    <result column="ball_5" jdbcType="INTEGER" property="ball_5" />
    <result column="ball_6" jdbcType="INTEGER" property="ball_6" />
    <result column="ball_7" jdbcType="INTEGER" property="ball_7" />
    <result column="ball_8" jdbcType="INTEGER" property="ball_8" />
    <result column="ball_9" jdbcType="INTEGER" property="ball_9" />
    <result column="ball_10" jdbcType="INTEGER" property="ball_10" />
    <result column="ball_11" jdbcType="INTEGER" property="ball_11" />
    <result column="ball_12" jdbcType="INTEGER" property="ball_12" />
    <result column="ball_13" jdbcType="INTEGER" property="ball_13" />
    <result column="ball_14" jdbcType="INTEGER" property="ball_14" />
    <result column="ball_15" jdbcType="INTEGER" property="ball_15" />
    <result column="ball_16" jdbcType="INTEGER" property="ball_16" />
    <result column="ball_17" jdbcType="INTEGER" property="ball_17" />
    <result column="ball_18" jdbcType="INTEGER" property="ball_18" />
    <result column="ball_19" jdbcType="INTEGER" property="ball_19" />
    <result column="ball_20" jdbcType="INTEGER" property="ball_20" />
  </resultMap>
  <sql id="Base_Column_List">
    id, qishu, create_time, datetime, state, prev_text, ball_1, ball_2, ball_3, ball_4, 
    ball_5, ball_6, ball_7, ball_8, ball_9, ball_10, ball_11, ball_12, ball_13, ball_14, 
    ball_15, ball_16, ball_17, ball_18, ball_19, ball_20
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lottery_result_bjkn
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lottery_result_bjkn
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zu.collect.model.Bjkn">
    insert into lottery_result_bjkn (id, qishu, create_time, 
      datetime, state, prev_text, 
      ball_1, ball_2, ball_3, 
      ball_4, ball_5, ball_6, 
      ball_7, ball_8, ball_9, 
      ball_10, ball_11, ball_12, 
      ball_13, ball_14, ball_15, 
      ball_16, ball_17, ball_18, 
      ball_19, ball_20)
    values (#{id,jdbcType=INTEGER}, #{qishu,jdbcType=INTEGER}, #{create_time,jdbcType=TIMESTAMP}, 
      #{datetime,jdbcType=TIMESTAMP}, #{state,jdbcType=BIT}, #{prev_text,jdbcType=VARCHAR}, 
      #{ball_1,jdbcType=INTEGER}, #{ball_2,jdbcType=INTEGER}, #{ball_3,jdbcType=INTEGER}, 
      #{ball_4,jdbcType=INTEGER}, #{ball_5,jdbcType=INTEGER}, #{ball_6,jdbcType=INTEGER}, 
      #{ball_7,jdbcType=INTEGER}, #{ball_8,jdbcType=INTEGER}, #{ball_9,jdbcType=INTEGER}, 
      #{ball_10,jdbcType=INTEGER}, #{ball_11,jdbcType=INTEGER}, #{ball_12,jdbcType=INTEGER}, 
      #{ball_13,jdbcType=INTEGER}, #{ball_14,jdbcType=INTEGER}, #{ball_15,jdbcType=INTEGER}, 
      #{ball_16,jdbcType=INTEGER}, #{ball_17,jdbcType=INTEGER}, #{ball_18,jdbcType=INTEGER}, 
      #{ball_19,jdbcType=INTEGER}, #{ball_20,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zu.collect.model.Bjkn">
    insert into lottery_result_bjkn
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="qishu != null">
        qishu,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="datetime != null">
        datetime,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="prev_text != null">
        prev_text,
      </if>
      <if test="ball_1 != null">
        ball_1,
      </if>
      <if test="ball_2 != null">
        ball_2,
      </if>
      <if test="ball_3 != null">
        ball_3,
      </if>
      <if test="ball_4 != null">
        ball_4,
      </if>
      <if test="ball_5 != null">
        ball_5,
      </if>
      <if test="ball_6 != null">
        ball_6,
      </if>
      <if test="ball_7 != null">
        ball_7,
      </if>
      <if test="ball_8 != null">
        ball_8,
      </if>
      <if test="ball_9 != null">
        ball_9,
      </if>
      <if test="ball_10 != null">
        ball_10,
      </if>
      <if test="ball_11 != null">
        ball_11,
      </if>
      <if test="ball_12 != null">
        ball_12,
      </if>
      <if test="ball_13 != null">
        ball_13,
      </if>
      <if test="ball_14 != null">
        ball_14,
      </if>
      <if test="ball_15 != null">
        ball_15,
      </if>
      <if test="ball_16 != null">
        ball_16,
      </if>
      <if test="ball_17 != null">
        ball_17,
      </if>
      <if test="ball_18 != null">
        ball_18,
      </if>
      <if test="ball_19 != null">
        ball_19,
      </if>
      <if test="ball_20 != null">
        ball_20,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qishu != null">
        #{qishu,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=BIT},
      </if>
      <if test="prev_text != null">
        #{prev_text,jdbcType=VARCHAR},
      </if>
      <if test="ball_1 != null">
        #{ball_1,jdbcType=INTEGER},
      </if>
      <if test="ball_2 != null">
        #{ball_2,jdbcType=INTEGER},
      </if>
      <if test="ball_3 != null">
        #{ball_3,jdbcType=INTEGER},
      </if>
      <if test="ball_4 != null">
        #{ball_4,jdbcType=INTEGER},
      </if>
      <if test="ball_5 != null">
        #{ball_5,jdbcType=INTEGER},
      </if>
      <if test="ball_6 != null">
        #{ball_6,jdbcType=INTEGER},
      </if>
      <if test="ball_7 != null">
        #{ball_7,jdbcType=INTEGER},
      </if>
      <if test="ball_8 != null">
        #{ball_8,jdbcType=INTEGER},
      </if>
      <if test="ball_9 != null">
        #{ball_9,jdbcType=INTEGER},
      </if>
      <if test="ball_10 != null">
        #{ball_10,jdbcType=INTEGER},
      </if>
      <if test="ball_11 != null">
        #{ball_11,jdbcType=INTEGER},
      </if>
      <if test="ball_12 != null">
        #{ball_12,jdbcType=INTEGER},
      </if>
      <if test="ball_13 != null">
        #{ball_13,jdbcType=INTEGER},
      </if>
      <if test="ball_14 != null">
        #{ball_14,jdbcType=INTEGER},
      </if>
      <if test="ball_15 != null">
        #{ball_15,jdbcType=INTEGER},
      </if>
      <if test="ball_16 != null">
        #{ball_16,jdbcType=INTEGER},
      </if>
      <if test="ball_17 != null">
        #{ball_17,jdbcType=INTEGER},
      </if>
      <if test="ball_18 != null">
        #{ball_18,jdbcType=INTEGER},
      </if>
      <if test="ball_19 != null">
        #{ball_19,jdbcType=INTEGER},
      </if>
      <if test="ball_20 != null">
        #{ball_20,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zu.collect.model.Bjkn">
    update lottery_result_bjkn
    <set>
      <if test="qishu != null">
        qishu = #{qishu,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="datetime != null">
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=BIT},
      </if>
      <if test="prev_text != null">
        prev_text = #{prev_text,jdbcType=VARCHAR},
      </if>
      <if test="ball_1 != null">
        ball_1 = #{ball_1,jdbcType=INTEGER},
      </if>
      <if test="ball_2 != null">
        ball_2 = #{ball_2,jdbcType=INTEGER},
      </if>
      <if test="ball_3 != null">
        ball_3 = #{ball_3,jdbcType=INTEGER},
      </if>
      <if test="ball_4 != null">
        ball_4 = #{ball_4,jdbcType=INTEGER},
      </if>
      <if test="ball_5 != null">
        ball_5 = #{ball_5,jdbcType=INTEGER},
      </if>
      <if test="ball_6 != null">
        ball_6 = #{ball_6,jdbcType=INTEGER},
      </if>
      <if test="ball_7 != null">
        ball_7 = #{ball_7,jdbcType=INTEGER},
      </if>
      <if test="ball_8 != null">
        ball_8 = #{ball_8,jdbcType=INTEGER},
      </if>
      <if test="ball_9 != null">
        ball_9 = #{ball_9,jdbcType=INTEGER},
      </if>
      <if test="ball_10 != null">
        ball_10 = #{ball_10,jdbcType=INTEGER},
      </if>
      <if test="ball_11 != null">
        ball_11 = #{ball_11,jdbcType=INTEGER},
      </if>
      <if test="ball_12 != null">
        ball_12 = #{ball_12,jdbcType=INTEGER},
      </if>
      <if test="ball_13 != null">
        ball_13 = #{ball_13,jdbcType=INTEGER},
      </if>
      <if test="ball_14 != null">
        ball_14 = #{ball_14,jdbcType=INTEGER},
      </if>
      <if test="ball_15 != null">
        ball_15 = #{ball_15,jdbcType=INTEGER},
      </if>
      <if test="ball_16 != null">
        ball_16 = #{ball_16,jdbcType=INTEGER},
      </if>
      <if test="ball_17 != null">
        ball_17 = #{ball_17,jdbcType=INTEGER},
      </if>
      <if test="ball_18 != null">
        ball_18 = #{ball_18,jdbcType=INTEGER},
      </if>
      <if test="ball_19 != null">
        ball_19 = #{ball_19,jdbcType=INTEGER},
      </if>
      <if test="ball_20 != null">
        ball_20 = #{ball_20,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zu.collect.model.Bjkn">
    update lottery_result_bjkn
    set qishu = #{qishu,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      datetime = #{datetime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=BIT},
      prev_text = #{prev_text,jdbcType=VARCHAR},
      ball_1 = #{ball_1,jdbcType=INTEGER},
      ball_2 = #{ball_2,jdbcType=INTEGER},
      ball_3 = #{ball_3,jdbcType=INTEGER},
      ball_4 = #{ball_4,jdbcType=INTEGER},
      ball_5 = #{ball_5,jdbcType=INTEGER},
      ball_6 = #{ball_6,jdbcType=INTEGER},
      ball_7 = #{ball_7,jdbcType=INTEGER},
      ball_8 = #{ball_8,jdbcType=INTEGER},
      ball_9 = #{ball_9,jdbcType=INTEGER},
      ball_10 = #{ball_10,jdbcType=INTEGER},
      ball_11 = #{ball_11,jdbcType=INTEGER},
      ball_12 = #{ball_12,jdbcType=INTEGER},
      ball_13 = #{ball_13,jdbcType=INTEGER},
      ball_14 = #{ball_14,jdbcType=INTEGER},
      ball_15 = #{ball_15,jdbcType=INTEGER},
      ball_16 = #{ball_16,jdbcType=INTEGER},
      ball_17 = #{ball_17,jdbcType=INTEGER},
      ball_18 = #{ball_18,jdbcType=INTEGER},
      ball_19 = #{ball_19,jdbcType=INTEGER},
      ball_20 = #{ball_20,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllBjkn" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from lottery_result_bjkn
    order by id desc
    limit #{offSet},#{limit}
  </select>
</mapper>